@model CapStore.ViewModels.LoginViewModel

    <div class="mainmenu-area">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                <h2 class="sidebar-title">Thank you for registration! You now can start to make orders!</h2>
                </div>
                </div>
</div>
</div>
